<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Wished Gifts
  </div>

  <ul class="list-group list-group-flush">
    <% @user.wished_gifts.each do |gift| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/gifts/<%= gift.id %>">
          <%= gift %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
